/* General Styles */
:root {
    --main-color: #212121;
    --link-color: #2196F3;
    --link-secondary: #F5F4FA;
    --contact-color: #757575;
    --background-color: #ffff;

}

body {
    font-family: 'Roboto', sans-serif;

}
   li {
       text-decoration: none;
       list-style: none;
       font-style: normal;
   }



/* Header and footer */

.logo {
    color: var(--link-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.pages, a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}


.pages:hover {
    color: var(--link-color);
}

.contact {
    color: var(--contact-color);
}

.contact:hover {
    color: var(--link-color);
    font-weight: 500;
}


.contacts {
    color: var(--contact-color);
}
.footer:hover {
    color: var(--link-color);
}



footer {
    background-color: var(--main-color);
}

#addres {
    color: var(--background-color);
}

.contacts {
    color: var(--contact-color);
}
/* Main */

button:hover {color: var(--background-color);
        background-color: var(--link-color);
        font-weight: 700;
    
}
button { color: var(--main-color);
        cursor: pointer;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
        font-size: 16px;
    }
   

h4 {font-weight: 700;
    font-size: 18px;}

p {
    color: var(--contact-color);
    font-size: 16px;
}
